<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <meta name="author" content="Wei-Ming">
  <meta name="description" content="hahow recruiting project">
  <meta name="keywords" content="front-end, css, html, js, recruit, hahow">
  <link rel="stylesheet" href="/css/index.css" type="text/css">
  </head>
  <body>
    <div id="hero-dashboard">
      <div id="hero-list">
        <div v-for="h in heros">
          <button class="hero" v-on:click="loadHero(h.id)">
            <div class="hero-photo">
              <img v-bind:src="h.image">
            </div>
            <div v-bind:id="'hero_' + h.id" class="hero-name">
              <span>{{h.name}}</span>
            </div>
          </div>
        </button>
      </div>
      <div id="hero-profile" v-show="profile">
        <div class="hero-profile-list" v-for="(value, ability) in profile">
          <div class="hero-ability">
            <span>{{ability}}</span>
            <button v-on:click="addPoint(ability)">+</button>
            <span>{{value}}</span>
            <button v-on:click="minusPoint(ability)">-</button>
          </div>
        </div>
        <div class="remain_points">
          <span>剩餘點數:</span>
          <span>{{remain_points}}</span>
        </div>
        <div class="update-profile-block">
          <button v-on:click="updateProfile()">Update</button>
        </div>
      </div>
    </div>
    <script src="./js/libs/vue.js"></script>
    <script src="./js/libs/vue-resource.min.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
