<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <meta name="author" content="Wei-Ming">
  <meta name="description" content="hahow recruiting project">
  <meta name="keywords" content="front-end, css, html, js, recruit, hahow">
  <link rel="stylesheet" href="./assets/css/index.css" type="text/css">
  </head>
  <body>
    <div id="hero-dashboard">
      <div id="hero-list">
          <div v-for="h in heros" class="hero-card" v-on:click="loadHeroByClick(h.id)" v-bind:class="{selected: h.id == selected_hero}">
            <div class="hero-photo">
              <img v-bind:src="h.image">
            </div>
            <div class="hero-name">
              <span>{{h.name}}</span>
            </div>
          </div>
      </div>
      <div id="hero-profile" v-show="profile">
        <div id="hero-profile-container">
          <div class="hero-ability form-group" v-for="(value, ability) in profile">
            <label>{{ability}}</label>
            <button class="profile-btn" v-on:click="addPoint(ability)">+</button>
            <span>{{value}}</span>
            <button class="profile-btn" v-on:click="minusPoint(ability)">-</button>
          </div>
          <div class="remain_points">
            <label>剩餘點數:{{remain_points}}  </label>
            <button class="profile-btn" v-on:click="updateProfile()">儲存</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./assets/js/dependencies.js"></script>
    <script src="./assets/js/index.js"></script>
  </body>
</html>
