<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <meta name="author" content="Wei-Ming">
  <meta name="description" content="hahow recruiting project">
  <meta name="keywords" content="front-end, css, html, js, recruit, hahow">
  <link rel="stylesheet" href="./assets/css/index.css" type="text/css">
  </head>
  <body>
    <!--hero-card template-->
    <script type="text/x-template" id="hero-card-template">
      <div class="hero-card" @click="loadHeroByClick()" :class="{'selected': hero.id === selected_hero}" v-show="loaded">
        <div class="hero-photo">
          <img v-bind:src="hero.image" @load="imageLoaded()">
        </div>
        <div class="hero-name">
          <span>{{hero.name}}</span>
        </div>
      </div>
    </script>

    <div id="hero-dashboard">
      <div id="hero-list" class="hero-list">
        <div class="spinner" v-show="loading"></div>
        <hero-card v-for="h in heros" v-bind:hero="h" v-bind:selected_hero="selected_hero" v-on:image-loaded="imageLoadedUpdate" v-on:select-hero="selectHero"></hero-card>
      </div>
      <div id="hero-profile" v-show="profile">
        <div class="red-spinner" v-show="loading"></div>
        <div class="profile-container" v-show="!loading">
          <div class="profile-block">
            <table>
              <tr v-for="(value, ability) in profile">
                <td class="table-data">
                  <label class="text-uppercase">{{ability}}</label>
                </td><td class="table-data">
                  <button class="profile-btn" v-on:click="addPoint(ability)">+</button>
                </td><td class="table-data">
                  <span>{{value}}</span>
                </td><td class="table-data">
                  <button class="profile-btn" v-on:click="minusPoint(ability)">-</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="profile-block text-right">
            <div class="basic-div">剩餘點數:{{remain_points}}  </div>
            <button class="profile-btn" v-on:click="updateProfile()">儲存</button>
          </div>
        </div>
      </div>
    </div>
    <div id="alert-message-container"></div>
    <script src="./assets/js/dependencies.js"></script>
    <script src="./assets/js/index.js"></script>
  </body>
</html>
