
body {
    box-sizing: border-box;
}

#hero-dashboard {
    box-sizing: border-box;
    margin: auto;
    max-width: 80%;
    min-width: 300px;
}

#hero-list {
    box-sizing: border-box;
    background: red;

    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 6px solid #ffffff;

    padding: 20px 20px 0px 20px;
    margin: 10px;
    outline: 8px solid red;
}

.hero-card {
    padding: 10px;
    background: white;
    border-width: 0px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    margin: 0px 5px 20px 5px;

    display: inline-block;
}

.hero-card:hover, .hero-card.selected {
    background: yellow;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.hero-name {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

#hero-profile {
    color: black;
    font-size: 20px;
    background: white;

    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 6px solid red;

    padding: 20px 5% 20px 5%;
    margin: 20px 10px 20px 10px;
}

.profile-block {
    display: inline-block;
    width: 100%;
}

.profile-btn {
    border: 2px solid red;
    border-radius: 0px;
    color: red;
    background-color: white;
    font-size: 26px;
    font-weight: normal;
    min-width: 50px;
    min-height: 50px;
}

.profile-btn:hover {
    background-color: red;
    border-color: white;
    color: white;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.table-data {
    padding: 3px;
    text-align: center;
    min-width: 30px;
    min-height: 30px;
}

.basic-div {
    margin: 5px;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #ffffff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.red-spinner {
  width: 40px;
  height: 40px;
  background-color: red;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#alert-message-container {
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 20%;
    width: 60%;

}

.alert-message {
    display: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid #f9873e;
    border-radius: 5px;
    background-color: #f6ffa1;
}
